body {
    background-color: darkslategrey;
}

h1 {
    color: white;
    font-size: 500%;
    font-stretch: extra-condensed;
    text-align: center;
}

#btn {
    color: white;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: black;
    border: 20px, solid, black;
    position: absolute;
    top: 90%;
    width: 95%;
}

p {
    color: white;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#intext {
    color: white;
    text-decoration: none;
}

text {
    color: white;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}